* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	font-family: verdana;
}

#mainmenu ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	color:white;
	padding: 15px;
}

#mainmenu ul {
	list-style-type: none;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 50px;
}

#mainmenu {
	background-color: #23282d;
	display: flex;
	height: 50px;
	justify-content: center;
	position: fixed;
    width: 100%;
}

#mainmenu li {
	float: left;
}

header#mainheader {
    z-index: 7;
    position: relative;
}

.sidebar-container{
	width: 200px;
    background-color: #1f1f1f;
    display: block;
    position: fixed;
    height: 100%;
    -webkit-box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    -moz-box-shadow: rgba(0,0,0,0.15) 2.4px 2.4px 3.2px;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    float: left;
    top: 0;
	z-index: 2;
}

.side-section {
    padding: 1.5em;
}

.side-section a {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}

table{
	margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 5%;
}

tr {
    text-align: center;
}

th {
    width: 16%;
    background-color: rgb(248, 248, 248);
    text-align: center;
}

td, th {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}







#leftcontent {
	float: left;
}

#sidebar {
	float: right;
	width: 15%;
	text-align: center;
	padding: 0 16px;
	font-size: 16px;
	-webkit-box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	-moz-box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	position: relative;
	overflow: hidden;
	height: 100%;
}

#sidebar a {
	font-weight: 600;
}

#container {
	background-color: white;
	box-shadow: 0px 0px 10px 0px #888888;
}

#title {
	float: left;
	color: white;
	line-height: 45px;
}

#mainfooter {
	height: 20vh;
	color: white;
	overflow: hidden;
	width: 100%;
	background-image: url('../background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

ol {
	padding: 30px;
	float: left;
}

ol li {
	padding: 10px;
	font-weight: 500;
	;
}

#leftcontent h1,
#leftcontent h2 {
	padding: 20px 1px 1px 20px;
}

.output {
	padding: 24px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-bottom: 1em;
}

main {
	float: left;
	width: 70%;
	padding: 10px;
}

.alert {
	color: red;
	margin: 10px;
	font-weight: 600;
}

.block {
	display: block;
}

.none {
	display: none;
}

input {
	margin: 0 0 5px;
	font-size: .933333em;
	padding: 0 10px;
	border: 1px solid #b7b7b7;
	max-width: 100%;
	min-height: 42px;
	border-radius: 6px;
	font-family: 'ABeeZee', sans-serif;
	margin-top: 10px;
}

input[type="submit"] {
	background-color: #fff;
	font-size: 1em;
	padding: 0 10px;
	border: 1px solid #c7c5c5;
	max-width: 100%;
	width: 90px;
	min-height: 42px;
	border-radius: 6px;
	display: block;
	background-color: #009400;
	color: white;
	font-weight: 900;
	cursor: pointer;
	float: left;
}

input[type="reset"] {
	background-color: red;
}

textarea {
	width: 80%;
	margin: 0 0 5px;
	background-color: #fff;
	font-size: .933333em;
	padding: 0 10px;
	border: 1px solid #b7b7b7;
	max-width: 100%;
	min-width: 10px;
	min-height: 42px;
	border-radius: 6px;
	font-family: 'ABeeZee', sans-serif;
	margin-top: 10px;
	height: 200px;
	overflow: auto;
	resize: none;
}

a {
	color: #202020;
}

.name {
	display: block;
	float: none;
	font-weight: 100;
}

.date {
	display: block;
	float: none;
	font-weight: 100;
}

span {
	float: left;
	font-weight: 700;
}

span.message {
	display: block;
	float: unset;
	font-weight: 100;
}

span.delPost {
	float: none;
}

#dcsv {
	background-color: #ff8230;
}

.delPost a {
	color: #ffffff;
	background-color: #ff3838;
	font-size: 1em;
	padding: 5px;
	border: 1px solid #c7c5c5;
	max-width: 100%;
	width: 120px;
	min-height: 22px;
	border-radius: 6px;
	display: block;
	text-decoration: none;
}

label,
text {
	display: block;
	color: #252525;
}

#form {
	float: left;
	width: 70%;
}

form {
	background-color: #252525;
	text-align: center;
	color: white;
	max-width: 425px;
	/*margin: 10px auto;*/
	padding: 10px 20px;
	border-radius: 10px;
}

h2 {
	text-align: center;
	padding: 20px;
}

label {
	height: 20px;
	display: inline-block;
	padding: 10px;
	text-align: left;
}

@media screen and (max-width: 1242px) {
	#title {
		line-height: 55px;
	}
}

@media screen and (max-width: 850px) {
	#title {
		float: none;
		line-height: 55px;
	}
}

@media screen and (max-width: 450px) {
	main,
	#sidebar,
	textarea {
		float: none;
		width: 80%;
	}
}

.content {
	width: 85%;
	float: left;
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 200px;
}

img.profile-imgs {
	display: block;
	margin: auto;
	border-radius: 50px;
}

#image-label {
	color: white;
	font-weight: 600;
}


a.delete {
	text-decoration: none;
	font-weight: 600;
	color: red;
}

a.edit {
	font-weight: 600;
	text-decoration: none;
	margin-left: 10px;
	color: #bd892b;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	/*margin: 15px 0;*/
}

button {
	border: 1px solid #131313;
	background-color: #1f1f1f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	padding: 5px 5px;
	margin: 8px 0;
	width: 100%;
	border: 1px solid #d0d0d0;
}

.containers {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	margin-left: auto;
	margin-top: 5%;
	margin-right: auto;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 50%;
	width: 50%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);
	background: linear-gradient(to left, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 40%;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#add-post {
	width: 250px;
}

#admin-form label {
	float: left;
	font-weight: 600;
}

input#post-title,
#admin-form textarea {
	height: 50px;
	padding: 0 30px;
	display: block;
	width: 45%;
	font-family: Montserrat-Bold !important;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	background-color: #f1f1f1;
	border-style: none;
	outline: none;
}

#admin-form textarea {
	height: 200px;
}

#admin-form {
	/*box-shadow: 0 14px 28px rgb(219, 45, 48), 0 10px 10px rgb(254, 86, 59);*/
	position: relative;
	overflow: hidden;
	width: 80%;
	max-width: 100%;
	min-height: 480px;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #ffffff;
}

#admin-form #add-post {
	background-color: #3c3c3c;
	;
}

button:focus,
button:hover {
	outline: none;
	cursor: pointer;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
	position: absolute;
	left: 51px;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.83);
	width: 22px;
}

#register-form {
	background: linear-gradient(to left, #FF4B2B, #FF416C);
	margin: 3%;
	display: inline-block;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 30px;
	margin-bottom: -20px;
}

#register-form input {
	outline: none;
	font-size: 1.1em;
	margin: 4px 0px 18px 1px;
	color: black;
	padding: 10px 38px;
	border: none;
	width: 82%;
	;
	font-family: 'Lato', sans-serif;
}

#register-form input.submit,
#register-form input.reset {
	width: 200px !important;
	color: white;
	background-color: #e89c2000;
	border: 1px solid #c7c5c5;
	font-weight: 600;
}

#register-form input.submit {
	margin-right: 20px !important;
}

input#newsletter {
	text-align: left;
	width: 20%;
	min-height: 22px;
}

#newsletter-label {
	width: 70%;
	color: white;
	text-decoration: underline;
}

#image-file {
	width: 51%;
	border: none;
	color: #3c3c3c;
	background-color: #f1f1f1;
}

[src='#'] {
	display: none;
}

@media screen and (max-width: 450px) {
	.content {
		width: 100%;
		float: none;
		margin-top: 50px;
	}
	.post {
		width: 90%;
	}
	#image-file {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.form-container form {
		height: 60%;
		text-align: center;
		width: 165%;
		/* left: 0; */
		position: absolute;
		top: 0;
		float: left;
		margin-left: -105%;
	}
	.overlay-panel {
		top: 30%;
		height: 100%;
		width: 85%;
	}
	.social-container {
		display: none;
	}
	input#post-title,
	#admin-form textarea {
		width: 100%;
	}
	#admin-form {
		width: 100%;
	}
	#admin-form {
		padding: 0;
	}
	#register-form input.submit,
	input.reset {
		margin-left: 20% !important;
		margin-right: 20% !important;
	}
}

@media screen and (max-width: 430px){
	#mainmenu>ul>li>a {
		padding: 7px;
		margin: 0;
	}
}