* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	font-family: verdana;
}

#mainmenu ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	color:white;
	padding: 15px;
	font-weight: 900;
    font-size: 1rem;
}

#mainmenu ul {
	list-style-type: none;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 50px;
}

#mainmenu {
	background-color: #23282d;
	display: flex;
	height: 50px;
	justify-content: center;
    width: 100%;
	align-items: center;
}

#mainmenu li {
	float: left;
}

header#mainheader {
    z-index: 7;
    position: relative;
}

.sidebar-container{
	width: 200px;
    background-color: #1f1f1f;
    display: block;
    position: fixed;
    height: 100%;
    -webkit-box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    -moz-box-shadow: rgba(0,0,0,0.15) 2.4px 2.4px 3.2px;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    float: left;
    top: 0;
	z-index: 2;
}

.side-section {
    padding: 1.5em;
}

.side-section a {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}

table{
	margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 5%;
}

tr {
    text-align: center;
}

th {
    width: 16%;
    background-color: rgb(248, 248, 248);
    text-align: center;
}

td, th {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}







#leftcontent {
	float: left;
}

#sidebar {
	float: right;
	width: 15%;
	text-align: center;
	padding: 0 16px;
	font-size: 16px;
	-webkit-box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	-moz-box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	box-shadow: -6px 0px 7px -4px rgba(134, 134, 134, 0.71);
	position: relative;
	overflow: hidden;
	height: 100%;
}

#sidebar a {
	font-weight: 600;
}

#container {
	background-color: white;
	box-shadow: 0px 0px 10px 0px #888888;
}

#mainfooter {
	height: 20vh;
	color: white;
	overflow: hidden;
	width: 100%;
	background-image: url('../background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

ol {
	padding: 30px;
	float: left;
}

ol li {
	padding: 10px;
	font-weight: 500;
	;
}

#leftcontent h1,
#leftcontent h2 {
	padding: 20px 1px 1px 20px;
}

.output {
	padding: 24px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-bottom: 1em;
}


input {
	color:black;
}

main {
	float: left;
	width: 70%;
	padding: 10px;
}

.alert {
	color: red;
	margin: 10px;
	font-weight: 600;
}

.block {
	display: block;
}

.none {
	display: none;
}

input {
	margin: 0 0 5px;
	font-size: .933333em;
	padding: 0 10px;
	border: 1px solid #b7b7b7;
	max-width: 100%;
	min-height: 42px;
	border-radius: 6px;
	font-family: 'ABeeZee', sans-serif;
	margin-top: 10px;
}



a {
	color: #202020;
}

h2 {
	text-align: center;
	padding: 20px;
}

label {
	height: 20px;
	display: inline-block;
	padding: 10px;
	text-align: left;
}

#title{
	color: white;
	padding-left: 1.1em;
}

@media screen and (max-width: 1242px) {
	#title {
		line-height: 55px;
	}
}

@media screen and (max-width: 850px) {
	#title {
		float: none;
		line-height: 55px;
	}
}

@media screen and (max-width: 450px) {
	main,
	#sidebar,
	textarea {
		float: none;
		width: 80%;
	}
}

.content {
	/*
	width: 85%;
	float: left;
	margin-bottom: 100px;
	margin-top: 50px;*/
	margin-left: 200px;
}

img.profile-imgs {
	display: block;
	margin: auto;
	border-radius: 50px;
}


a.delete {
	text-decoration: none;
	font-weight: 600;
	color: red;
}

a.edit {
	font-weight: 600;
	text-decoration: none;
	margin-left: 10px;
	color: #bd892b;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: black;
	font-size: 14px;
	text-decoration: none;
	/*margin: 15px 0;*/
}

button {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
}

button a{
	display: block;
    padding: 5px 15px;
}

button:hover {
	background-color: #1f1f1f;
}

button a:hover {
	color: white;
}

input.submit,input.reset,#login-button {
	border: 1px solid #131313;
	background-color: #1f1f1f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0;	
}




form {
	background-color: #FFFFFF;
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	padding: 15px 5px;
	margin: 8px 0;
	width: 100%;
	border: 1px solid #d0d0d0;
	box-sizing: border-box;
}

#login-form,#register-form {
	box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 10px 5px 10px 10px rgb(0 0 0 / 22%);
	width: 300px;
    margin: 0 auto;
    padding: 100px 50px;
    margin-top: 50px;
}

#register-form{
	padding: 60px 50px;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid black;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.social-container a:hover {
	background-color: #1f1f1f;
	color: white;
}

#admin-form label {
	float: left;
	font-weight: 600;
}

input#post-title,
#admin-form textarea {
	height: 50px;
	padding: 0 30px;
	display: block;
	width: 45%;
	font-family: Montserrat-Bold !important;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	background-color: #f1f1f1;
	border-style: none;
	outline: none;
}

#admin-form textarea {
	height: 200px;
}

#admin-form {
	position: relative;
	overflow: hidden;
	max-width: 50%;
	min-height: 480px;
	background-color: #ffffff;
	margin: 50px auto;

}

#admin-form #add-post {
	background-color: #1f1f1f;
    color: white;
    font-weight: 900;
	cursor: pointer;
}

button:focus,
button:hover {
	outline: none;
	cursor: pointer;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
	position: absolute;
	left: 51px;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.83);
	width: 22px;
}


#image-file {
	border: none;
	color: #3c3c3c;
	background-color: #f1f1f1;
}

[src='#'] {
	display: none;
}

#message {
	color: red;
	text-align: left;
    font-weight: 900;
}

@media screen and (max-width: 450px) {
	.content {
		width: 100%;
		float: none;
		margin-top: 50px;
	}
	.post {
		width: 90%;
	}
	#image-file {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.form-container form {
		height: 60%;
		text-align: center;
		width: 165%;
		/* left: 0; */
		position: absolute;
		top: 0;
		float: left;
		margin-left: -105%;
	}
	.overlay-panel {
		top: 30%;
		height: 100%;
		width: 85%;
	}
	.social-container {
		display: none;
	}
	input#post-title,
	#admin-form textarea {
		width: 100%;
	}
	#admin-form {
		width: 100%;
	}
	#admin-form {
		padding: 0;
	}
	#register-form input.submit,
	input.reset {
		margin-left: 20% !important;
		margin-right: 20% !important;
	}
}

@media screen and (max-width: 430px){
	#mainmenu>ul>li>a {
		padding: 7px;
		margin: 0;
	}
}